.page-header
  イベント一覧
.list-group
  - @events.each do |event|
    = link_to(event, class: 'list-group-item') do
      %h4{class: "list-group-item-heading"}
        = event.name
      %p{class: "list-group-item-text"}
        = event.start_time.strftime('%Y/%m/%d %H:%M') + " - " + event.end_time.strftime('%Y/%m/%d %H:%M')
